 .market-data {
   width: 500px;
   display: flex;
   justify-content: space-between;
   margin: 50px auto;
   background-color: #f1f4f9;
   padding: 30px;
   border-radius: 10px;
   font-size: 14px;
 }